.container-wrap{
  margin: 0 2em;
}
/*Header*/
#header-ul li a{
  text-decoration: none;
}
.nav-item{
  margin: 1em;
}


/*Inicio*/
#inicio {
  text-align: justify;
}

.inicio-img {
  width: 100%;
}

#index div{
  padding: 0 2em;
}

.inicio-intro{
  display: flex;
  align-items: center; 
}

#inicio-reserva{
  margin-top: 2em;
  display: flex;
  align-items: center;
  padding: 0 2em;

}

#form-submit{
  margin-top: 1em;
}


/*NOSOTROS*/

#nosotros {
  text-align: justify;
}
#nosotros .row{
  display: flex;
  align-items: center;
}

#nosotros .img{
  width: 100%;
}

/*MENU*/
#card-content{
  text-align: center;
}

.card{
  width: 20%;
  display: inline-block;
  vertical-align: top;
  margin: 1%;
}

.card img{
  width: 100%;
}

.card-text span{
  font-weight: bold;
}

/*CONFIGURACION*/

#list-product button{
  margin-left: 1em;
}

/*FOOTER*/
#footer{
  text-align: center;
  padding: 1em;
  margin-top: 2em;
  background-color: lightgray;
}

.footer-social{
  width: 30px;
  margin: 0 5px;
  transition: all .5s ease-in-out;
}

.footer-social:hover{
  transform: scale(1.5);
  cursor: pointer;
}




@media (max-width: 1200px) { 
    .card{
      width: 40%;
    }
}


@media (max-width: 750px) { 
  .card{
    width: 90%;
  }
}


@media (max-width: 530px) { 
  .desaparecer{
    display: none;
  }
}